@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 1000;
}

:root {
    --body-color: #f2f2f2;
    --sidebar-color: #f2f2f2;
    --primary-color: #0f1026;
    --primary-color-light: #1b2040;
    --toggle-color: #DDD;
    --text-color: #585858;
    --button-color: #4973f2;
    --secondary-body-color: #dfdfdf;


    --tran-02: all 0.4s ease;
    --tran-03: all 0.4s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
  
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);

}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: rgb(4, 41, 90);
    --primary-color-light: #222222;
    --toggle-color: #ffffff;
    --text-color: #CCC;
    --button-color: rgb(16, 65, 97);
    --secondary-body-color: rgba(95, 95, 95, 0.082);
    
}



body.dark .sidebar li a:hover {
    color: var(--toggle-color);
}

body.dark .sidebar li:hover {
    color: var(--toggle-color);
}



body.dark .image .dark-logo {
    opacity: 0;
    transition: var(--tran-02);
}

body.dark .sidebar .image .white-logo {
    opacity: 1;
}

/* ==== Reusable CSS ===== */

.sidebar  .text {
    font-size: 1rem;
    font-weight: 800;
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    margin-left: 1rem;
 
}

.sidebar .image .white-logo {
    opacity: 0;
}

.sidebar .image {
    min-width: 5rem;
    display: flex;
    align-items: center;
    margin-left: -1.8rem;
    width: 100%;

}

/* ==== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    padding: 1rem 1.4rem;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1000;
    
}

.sidebar .nav-link i {
    transition: var(--tran-02);
}

.sidebar.close {
    width: 1rem;
    
}

.sidebar.close .toggle-switch {
 transform: rotate(90deg) translateY(20%);
 background: none;
 transition: var(--tran-02);
}

.sidebar.close .nav-link i {
    transition: var(--tran-02);
    transform: translateX(-200%);
}



.sidebar.close .text {
    opacity: 0;
    transform: translateX(-300%);
}


.sidebar.close .moon-sun {
   opacity: 0;
   transform: translateX(-50%);

}

.sidebar.close .mode {
    background: none;
    box-shadow: none;
    transition: var(--tran-02);
}

.sidebar.close .mode .sun,
.sidebar.close .mode .moon {
   transform: translateX(-50%);
 
}



.sidebar li{ 
    height: 3rem;
    margin-top: 3rem;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar .nav-link {
    margin-bottom: -2rem;
}



.sidebar header {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    z-index: 100;

}

.sidebar-icon {
    font-size: 1.2rem;
}

.sidebar .image-text img {
    width: 7.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
   

}

 .white-logo {
    min-width: 6rem;
    position: absolute;
    width: 100%;
    transition: var(--tran-02);
  
}

.sidebar.close .white-logo {
    transform: translateX(-50%);
}

.sidebar.close .image-text {
    opacity: 0;
    transform: translateX(-50%);
}



.sidebar header .image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-left: 0.5rem;
    transition: var(--tran-02);

}

.sidebar  .image-text .header-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

}

.header-text .name {
    font-weight: 600;

}

.header-text .autos {
    margin-top: -0.2rem;
}

.sidebar header .toggle {
    position: absolute;
    top: 30%;
    right: -1rem;
    transform: translateY(-50%) translateX(-20rem);
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 1000;
    transition: var(--tran-03);
    opacity: 0;
    z-index: 100;
}


.sidebar header .toggle:hover {
    color: var(--primary-color);

}


body.dark .sidebar header .toggle {
  
    color: var(--text-color);
    transition: var(--tran-02);
}


.sidebar.close header .toggle {
   opacity: 1;
    transform: translateY(-50%);
    
}


.sidebar header .open-arrow {
    position: absolute;
    top: 30%;
    right: -2.2rem;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 1.5rem;
    transition: var(--tran-03);
    border: solid 1px var(--text-color);
    background: var(--sidebar-color);
}

.sidebar header .open-arrow:hover {
    background: var(--toggle-color);
    border: solid 1px var(--primary-color);
}

.sidebar header i:hover {
    cursor: pointer;
   

}

.sidebar.close header .open-arrow {
    opacity: 0;
     transform: translateY(-50%) translateX(-50%) rotate(180deg);
 }



.sidebar li a{
    height: 80%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: var(--tran-03);
    width: 100%;
    
}




.sidebar li a .icon {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--text-color);
    font-size: 6rem;
    
}

.sidebar li a  {
   color: var(--text-color);
   transition: var(--tran-02);
   
}

.sidebar .nav-link {
    color: var(--text-color);
    transition: all 0.3s ease;
    border-radius: 1rem;
    
}

.sidebar .nav-link:hover {
  
    background: var(--secondary-body-color);

}





.sidebar .menu-bar{
height: calc(100% - 0.5rem);
display: flex;
flex-direction: column;
justify-content: space-between;
}

.menu-bar .mode {
    position: absolute;
    border-radius: 1rem;
    background: var(--body-color);
    border-radius: 1rem;
    height: 3rem;
    width: 80%;
    bottom: 1rem;
    box-shadow: 0rem 0rem 0.2rem 0rem black;
    transition: var(--tran-02);
}

.menu-bar .mode .text {
    font-size: 0.8rem;
    margin-left: -1rem;
    text-align: center;
    margin-right: 1rem;
    color: var(--text-color);
}

.menu-bar .mode .moon-sun{
    height: 3rem;
    width: 4rem;
    display: flex;
    align-items: center;
    transition: var(--tran-05);
    
}



.menu-bar .mode i {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    min-width: 3.2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.8rem;
    transition: var(--tran-03);

}

.menu-bar .mode .switch {
    position: relative;
    height: 1.2rem;
    width: 80%;
    border-radius: 2rem;
    background: var(--toggle-color);
    margin-right: 0.6rem;
    padding-left: -1rem;
    transition: var(--tran-02);
  
}

.switch::before {
    content: '';
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}


body.dark .switch::before {
    left: 1.2rem;
}


.sidebar.close i .toggle::before {
   opacity: 0;
}

.home header {
    width: 100%;
    left: 2.8rem;
    top: 0;
    height: 5rem;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    border-bottom: solid var(--primary-color-light) 2px;
    box-shadow: 0rem 0rem 0.2rem rgba(255, 255, 255, 0.603);
    position: sticky;
    z-index: -1;
}

.home .text{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 1rem 5rem;
}

.sidebar.close ~ .home {
    left: 2rem;
    width: calc(100%);


}

.nav-link.button span {
opacity: 1;
transform: translateX(-100%);

}

/* ======== MAIN HEADER ======= */

.home .white-logo img {
    position: absolute;
    top: -0.8rem;
    left: 50%;
    width: 7rem;
    
}

.home .white-logo {
    opacity: 0;
}



body.dark .home .white-logo {
    opacity: 1;
}

.home .dark-logo {
    opacity: 1;
}


.home .dark-logo img{
    position: absolute;
    top: -0.8rem;
    left: 45%;
    width: 7rem;
    
}


.home .main-header-options {
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    top: 0.5rem;
   
}

.home .main-header-options li {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--body-color);
    padding: 1rem 5rem;
    opacity: 0;

}

.home header {
    z-index: 200;
    
}
/* ==== BANNER ==== */

main {
    
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.main-banner {
    z-index: 0;
  position: relative;
 
  

}

main .background-dark {
position: relative;
background-color: black;
z-index: 1000;
height: 100%;
size: fill;
position: fixed;
}

main .main-banner-title {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--body-color);
z-index: 120;
color: white;

padding: 1rem;
}

.main-banner-title h1 {
    font-size: 1.5rem;

}



.main-banner-title .main-title {
    color: white;
    font-size: 3rem;
    padding: 0rem;
    border-radius: 0.5rem;
    transition: var(--tran-03);
    margin-bottom: 1rem;
}

.main-banner .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
  background: var(--sidebar-color);
 
  transition: var(--tran-03);
  text-align: center;
}

.main-banner .autos-button {
    background: var(--button-color);
    padding: 0.3rem 4.5rem;
    transition: var(--tran-03);
    margin: 0.1rem;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
}

.main-banner .contacto-button {
    background: var(--primary-color);;
    padding: 0.3rem 4.5rem;
    transition: var(--tran-03);
    margin: 0.1rem;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
}

.main-banner-title:hover {
    cursor: default;
    
}

.main-banner .autos-button:hover {
    cursor: pointer;
    border: solid 1px var(--primary-color);
    opacity: 0.8;
    
}


.main-banner .contacto-button:hover {
    cursor: pointer;
    border: solid 1px var(--primary-color);
    opacity: 0.9;
}


.main-banner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Change the color and opacity as needed */
    }

.main-banner img {
    position: relative;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    max-width: 100%;
    height: auto;
}


/* ===== CATALOG ===== */

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    overflow-y: auto;
    background: var(--secondary-body-color);
    height: 100%;
}


.catalog-title {
    margin-left: 2.5rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: var(--text-color);
}

.icon {
    color: var(--button-color);
}


.autos-catalog-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    margin-left: 3rem;
}

.autos-catalog {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap:1rem;

    width: 62rem;
    height: 100%;
    overflow-x: scroll;
    flex: none;
}

.autos-catalog::-webkit-scrollbar {
display: none;
}

#backButton, #nextButton {
    color: white;
    border: 1px solid var(--text-color);
    border-radius: 4rem;
    font-size: 3rem;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.2s ease;
    background-color: var(--primary-color-light);
}

#backButton:hover, #nextButton:hover {
 transform: scale(1.05);
}

#backButton {
    padding: 0.5rem;
    padding-left: 0.3rem;
}

#nextButton {
    padding: 0.5rem;
    padding-right: 0.3rem;

}

.autos-catalog img {
    width: 100%;
    background: var(--body-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--tran-02);
}

.autos-catalog img:hover {
    opacity: 0.9;
    transform: scale(1.01);
}


.autos-catalog .item {
    border-radius: 2rem;
    margin: 0rem 1rem;
    background: var(--sidebar-color);
    width: 18rem;
    height: 25rem;
    border: 1px solid var(--text-color);
    flex: none;
    transition: var(--tran-04);
}

.autos-catalog .item:hover {
   cursor: pointer;
   transform: scale(1.01);
}






.autos-catalog h2 {
    color: var(--text-color);
    cursor: pointer;
    transition: var(--tran-02);
    font-size: 1rem;
}

.autos-catalog h2:hover {
    color: var(--button-color);
}

.autos-catalog .price {
    color: var(--button-color);
    font-size: 1rem;
}

.autos-catalog .car-details {
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

/* ===== UBICACION ===== */

.company-info {
    margin-top: 8rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 4rem;
    background: var(--secondary-body-color);
    color: var(--text-color);
    
}

.company-info .card {
    background: var(--sidebar-color);
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 3rem;
    height: 30rem;
    width: 35rem;
    border: var(--text-color) solid 1px;
    border-radius: 1rem;
    transform: scale(0.85);
}

.ubicacion-info {
    border: var(--text-color) solid 1px;
    height: 15rem;
    width: 29rem;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.ubicacion-info .icon {
    margin-bottom: 1rem;
}

.ubicacion-info h3 {
    margin: -1.5rem;
}

.direccion {
    margin-top: 2rem;
}


.ubicacion-title,
.contacto-title {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.company-info .card h3 {
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
}

.company-info .card h4 {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    }






.company-info .icon {
    color: green;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.company-info .contacto-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--text-color) solid 1px;
    padding: 0rem;
    gap: 4rem;
    width: 29rem;
    border-radius: 1rem;
    height: 15rem;
}

.company-info .social-container {
    height: 11.3rem;
}



.company-info .whatsapp {
    color: #008a22;
    font-size: 3rem;
    border: 1px solid #008a22;
    border-radius: 100%;
    padding: 0.4rem;
    margin: 0.2rem;
    margin-top: 1rem;
    transition: var(--tran-02);
}

.company-info .whatsapp:hover {
    background-color: var(--toggle-color);
    cursor: pointer;
}

.company-info .facebook {
    color: #3234c0;
    font-size: 3rem;
    border: 1px solid #3234c0;
    border-radius: 100%;
    padding: 0.4rem;
    margin: 0.2rem;
    margin-top: 1rem;
    transition: var(--tran-02);
    
}

.company-info .facebook:hover {
    background-color: var(--toggle-color);
    cursor: pointer;
}



.contacto-methods h4 {
    color: green;
    text-decoration: underline;
    
}

.contacto-methods h4:hover {
    color: var(--button-color);
    text-decoration: underline;
    cursor: pointer;
}

footer {
    height: 5rem;
    background-color: var(--primary-color-light);
    color: antiquewhite;
    border-top: solid 1px var(--primary-color);
   
}

footer p {
    margin-left: 4rem;
    position: relative;
    top: 1.8rem;
    font-size: 0.8rem;
}